* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Open-sans", sans-serif;
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/FontAwesome.otf") format("opentype");
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
  src: url("../fonts/fontawesome-webfont.woff") format("woff");
  src: url("../fonts/fontawesome-webfont.svg") format("svg");
  src: url("../fonts/fontawesome-webfont.eot") format("eot");
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  border: 0;
  max-width: 100%;
}
header {
  height: 166px;
  width: 100vw;
  background-color: rgb(97, 97, 97);
  text-align: center;
}
footer {
  text-align: center;
  height: 1060px;
  width: 100vw;
  background-color: rgb(97, 97, 97);
}

//  стили - которые надо будет загрузить писать ниже

@mixin transition {
  transition: all 0.3s ease-in-out;
}

.conteiner {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
}

